!John S. Stritzinger
!Greenville Associates Solutions
!Media, PA 19063
!October 2019


!1500px Shell
!This shell presents a 1300px Fixed Width Shell for Any Program.
!copy index.html to the root of your website with the right width. (Extranet's usually cannot support more than 1300px due to older computers)
!Fusion shell on the Intranet should be able to support 1080p or (1920px x 1080px Depth) or Higher as Fusion Shell does not fix Page Vertical PXs due to browser scrolling.

! Higher Resolution for the Desktop can be achieved by changing the 1300px's below to your LEAST COMMON DEMONINATOR ON YOUR INTRANET/EXTRANET.
! Most Modern Cell Phones Support 1920x1080px in Horizontal Model (IE Rotated). But Older Computers will not.


<HTML>
<head>
  <title>Greenville Associates Solutions - Fusion Shell</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="msvalidate.01" content="77834C8E846F47347D77AE3ACFC209C1" />

</head>
 <frameset cols="1%,1500px,1%">
  <frame src="a.html" frameborder="0" noresize="noresize" scrolling="no">
  <frame src="framebase.html" frameborder="0" noresize="noresize" scrolling="yes">
  <frame src="b.html" frameborder="0" noresize="noresize" scrolling="no">
 </frameset>
</HTML>
