! John Stritzinger
! Greenville Associates Solutions
! Media Pa, 19063
! October 2019
! Inner Pannel at Specified Frame Width x Unlimited Depth (Scrolling) with Fixed Bottom Panel.
! This has a (Blacked Out) Lower Panel Menu System(C.html), and a (Blacked Out) Right Menu Pain.

<HTML>
<frameset rows="52px,96px,*,50px,62px">
<frame src="header.html" noborder noreszie="noresize" name="top" scrolling="no" frameborder="0">
<frame src="jquery.html" noborder noreszie="noresize" name="bottomenu" scrolling="no" frameborder="0">
<frame src="homepage.html" noborder noreszie="noresize" name="body2" scrolling="yes" frameborder="0">
<frame src="c.html" noborder noreszie="noresize" name="bottom_nav" scrolling="yes" frameborder="0">
<frame src="footer.html" noborder noresize="noresize" name="bottom" scrolling="no" frameborder="0">
</frameset>
</HTML>
